<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <style>
        
        #canvas {
          height: 800px; 
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      
        #form-body {
          height: auto; 
          width: 60%;
          margin: 0 auto;
          padding: 20px;
          border-radius: 8px;
        }
      </style>
      

</head>
<body>
    <div id="main">
        <div id="canvas">
            <div id="form-body">
                <h1>Edit Profile</h1>
                <form action="{{ url_for('edit_profile') }}" method = "post">
                    <input type="hidden" name="next" value="{{ next }}">
                
                    <div class="mb-3">
                        <label for="EmailID" class="form-label">Email ID</label>
                        <input type="text" class="form-control" id="EmailID" placeholder="name@example.com" name = "email" value="{{ logged_user.email }}" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="Username" class="form-label">Username</label>
                        <input type = "text" class="form-control" id="Username" placeholder="Your username" name = "username" value="{{ logged_user.username }}" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="fullname" class="form-label">Full Name</label>
                        <input type = "text" class="form-control" id="full_name" placeholder="Your Name" name = "full_name" value="{{ logged_user.full_name }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="Option" class="form-label">Address</label>
                        <input type = "text" class="form-control" id="Option" placeholder="Your address" name = "address" value="{{ logged_user.address }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="pincode" class="form-label">Pincode</label>
                        <input type = "text" class="form-control" id="pincode" placeholder="Your 6-digit pincode" name = "pincode" value="{{ logged_user.pincode }}" required>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="Password field" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="Password_field" placeholder="Your Password" name = "new_pwd">

                        <label for="Password field" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="Password_field" placeholder="Your Password" name = "confirm_pwd">
                    </div>

                    
                    
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" value = "Update Changes">
                        <a href="{{ url_for(next) }}" class="btn btn-danger">Cancel</a>
                         <!--cannot use button tags because we are not using java script-->
                        <br>
                    </div>
                </form>
                

                  
                 
            </div>
        </div>
    </div>
</body>
</html>